variables:
  GIT_STRATEGY: none
  CI_COMMIT_MESSAGE: $CI_COMMIT_MESSAGE

deploy_prod:
  stage: build
  script:
    - cd /var/www/portfolio
    - git pull
    - npm i --frozen-lock
    # - cat $env_prod > .env
    - npm run build
    # - pm2 start "yarn start" --name irvanlg-portfolio
    - pm2 restart next-app
