@import 'tailwindcss';

@plugin 'tailwindcss-animate';
@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --breakpoint-3xl: 2400px;

    --color-border: hsl(var(--border));
    --color-input: hsl(var(--input));
    --color-ring: hsl(var(--ring));
    --color-background: hsl(var(--background));
    --color-foreground: hsl(var(--foreground));

    --color-primary: hsl(var(--primary));
    --color-primary-foreground: hsl(var(--primary-foreground));

    --color-secondary: hsl(var(--secondary));
    --color-secondary-foreground: hsl(var(--secondary-foreground));

    --color-destructive: hsl(var(--destructive));
    --color-destructive-foreground: hsl(var(--destructive-foreground));

    --color-muted: hsl(var(--muted));
    --color-muted-foreground: hsl(var(--muted-foreground));

    --color-accent: hsl(var(--accent));
    --color-accent-foreground: hsl(var(--accent-foreground));

    --color-popover: hsl(var(--popover));
    --color-popover-foreground: hsl(var(--popover-foreground));

    --color-card: hsl(var(--card));
    --color-card-foreground: hsl(var(--card-foreground));

    --radius-lg: var(--radius);
    --radius-md: calc(var(--radius) - 2px);
    --radius-sm: calc(var(--radius) - 4px);

    --animate-meteor: meteor 5s linear infinite;
    --animate-shimmer-slide: shimmer-slide var(--speed, 3s) ease-in-out infinite alternate;
    --animate-spin-around: spin-around calc(var(--speed, 3s) * 2) infinite linear;
    --animate-accordion-down: accordion-down 0.2s ease-out;
    --animate-accordion-up: accordion-up 0.2s ease-out;

    @keyframes meteor {
        0% {
            transform: rotate(var(--angle)) translateX(0);
            opacity: 1;
        }
        70% {
            opacity: 1;
        }
        100% {
            transform: rotate(var(--angle)) translateX(-500px);
            opacity: 0;
        }
    }
    @keyframes shimmer-slide {
        to {
            transform: translate(calc(100cqw - 100%), 0);
        }
    }
    @keyframes spin-around {
        0% {
            transform: translateZ(0) rotate(0);
        }
        25% {
            transform: translateZ(0) rotate(90deg);
        }
        75% {
            transform: translateZ(0) rotate(270deg);
        }
        100% {
            transform: translateZ(0) rotate(360deg);
        }
    }

    @keyframes accordion-down {
        from {
            height: 0;
        }
        to {
            height: var(--radix-accordion-content-height);
        }
    }

    @keyframes accordion-up {
        from {
            height: var(--radix-accordion-content-height);
        }
        to {
            height: 0;
        }
    }

}

@utility container {
    margin-inline: auto;
    padding-inline: 2rem;
    @media (width >= --theme(--breakpoint-3xl)) {
    max-width: none;
}
    @media (width >= 1536px) {
        max-width: 1536px;
    }
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }

    * {
        @apply border-border dark:text-white;
    }

    :is(svg, svg *) {
        color: unset !important;
        stroke: currentColor !important;
    }

    body {
        @apply bg-background text-foreground;
    }

    html {
        scroll-behavior: smooth;
    }
}

@layer base {
    :root {
        --background: 0 100% 100%;
        --foreground: 0 0% 10%;

        --card: 222.2 84% 4.9%;
        --card-foreground: 210 40% 98%;

        --popover: 0 0% 5%;
        --popover-foreground: 210 40% 98%;

        /*--primary: 240 5.9% 10%;*/
        --primary: 210 40% 98%;
        --primary-foreground: 0 0% 98%;
        --secondary: 217.2 32.6% 17.5%;
        --secondary-foreground: 210 40% 98%;

        --muted: 217.2 32.6% 17.5%;
        --muted-foreground: 215 20.2% 65.1%;

        --accent: 217.2 32.6% 17.5%;
        --accent-foreground: 210 40% 98%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 210 40% 98%;

        --border: 217.2 32.6% 17.5%;
        --input: 217.2 32.6% 17.5%;
        --ring: 212.7 26.8% 83.9%;

        --radius: 0.5rem;

        --color-1: 0 100% 63%;
        --color-2: 270 100% 63%;
        --color-3: 210 100% 63%;
        --color-4: 195 100% 63%;
        --color-5: 90 100% 63%;

        --swiper-pagination-bottom: -30px;
    }

    :root.dark {
        --background: 0 0% 5%;
        --foreground: 210 40% 98%;

        --card: 222.2 84% 4.9%;
        --card-foreground: 210 40% 98%;

        --popover: 0 0% 5%;
        --popover-foreground: 210 40% 98%;

        --primary: 210 40% 98%;
        --primary-foreground: 222.2 47.4% 11.2%;

        --secondary: 217.2 32.6% 17.5%;
        --secondary-foreground: 210 40% 98%;

        --muted: 217.2 32.6% 17.5%;
        --muted-foreground: 215 20.2% 65.1%;

        --accent: 217.2 32.6% 17.5%;
        --accent-foreground: 210 40% 98%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 210 40% 98%;

        --border: 217.2 32.6% 17.5%;
        --input: 217.2 32.6% 17.5%;
        --ring: 212.7 26.8% 83.9%;

        --radius: 0.5rem;

        --swiper-pagination-bottom: -30px;
    }
}

:root {
    --switch-duration: 1.75s;
    --switch-name: scale;
}

.-animated {
    --switch-duration: 1s;
    --switch-name: scale-fast
}

::view-transition-group(root) {
    animation-timing-function: var(--expo-in);
    z-index: 100
}

::view-transition-new(root) {
    -webkit-mask: url(/alulpls.webp) center / 0 no-repeat;
    mask: url(/alulpls.webp) center / 0 no-repeat;
    animation: var(--switch-name) var(--switch-duration)
}

::view-transition-old(root), .dark::view-transition-old(root) {
    animation: var(--switch-name) var(--switch-duration)
}

@keyframes scale {
    0% {
        -webkit-mask-size: 0;
        mask-size: 0
    }
    10% {
        -webkit-mask-size: 50vmax;
        mask-size: 50vmax
    }
    90% {
        -webkit-mask-size: 50vmax;
        mask-size: 50vmax
    }
    to {
        -webkit-mask-size: 2000vmax;
        mask-size: 2000vmax
    }
}

@keyframes scale-fast {
    0% {
        -webkit-mask-size: 0;
        mask-size: 0
    }
    10% {
        -webkit-mask-size: 50vmax;
        mask-size: 50vmax
    }
    80% {
        -webkit-mask-size: 50vmax;
        mask-size: 50vmax
    }
    to {
        -webkit-mask-size: 2000vmax;
        mask-size: 2000vmax
    }
}

.dark .dark\:bg-background-gradient {
    background: radial-gradient(75% 61.2% at 92.6% 6.9%, rgb(46, 46, 46) 0%, rgb(26, 26, 26) 100%);
}

.container {
    margin-left: auto;
    margin-right: auto;
}

.swiper {
    overflow-y: visible !important;
}

.swiper-slide {
    width: auto !important;
}

.swiper-pagination-bullet {
    background: #fff !important;
}

.back-to-top rect {
    fill: #ffffff;
}

.dark .back-to-top rect {
    fill: #000000;
}

* > .intro-y {
    z-index: 10;
    opacity: 0;
    position: relative;
    transform: translateY(50px);
    animation: .5s intro-y-animation ease-in-out .33333s;
    animation-fill-mode: forwards;
}

* > .intro-y:nth-child(1) {
    animation-delay: .1s;
}

* > .intro-y:nth-child(2) {
    animation-delay: .2s;
}

* > .intro-y:nth-child(3) {
    animation-delay: .3s;
}

* > .intro-y:nth-child(4) {
    animation-delay: .4s;
}

@keyframes intro-y-animation {
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.custom-scrollbar::-webkit-scrollbar {
    @apply size-[6px];
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    @apply rounded-full bg-white/30 hover:bg-white/60;
}

/*.custom-scrollbar {*/
/*    scrollbar-width: thin;*/
/*    scrollbar-color: transparent transparent;*/
/*}*/

.log p, .log img {
    margin-bottom: .5rem;
}

.log a {
    @apply text-blue-400;
}

.log a:hover {
    @apply dark:text-white;
}

.log-nav a,
.footer a {
    @apply dark:text-white;
}
